.navbar.navbar-primary {
    background-color: #084b84!important;
    color: #ffffff;
    font-weight: bold;
}
.menu-header-dw:hover {
    background : #084b84!important;
}
.modal-backdrop {
    position: relative!important;
    color: black;
}
.avatar{
    text-align: center;
}
.name{
    text-align: center;
}
.img-circle.img-responsive.img-raised{
    border-radius: 50%;
    text-align: center;
    margin: auto;
}
.category.text-info{
    font-weight: bold!important;
}
.container-fluid {
  padding-right: 0px!important;
  padding-left: 0px!important;
}
.team-4.section-image{
    background: url('../images/family.jpg');
}
.page-header.header-filter{
    background: url('../images/fond2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    border-radius: 0px!important;
}
.navbar-nav{
    margin-left: 60%;
    color: white;
}
@media screen and (max-width: 770px){
    .navbar-nav{
        margin-left: 0px!important;
        color: white;
    }
}
.signup-container{
    background: url('../images/family.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
  }
.nav-align-center .nav-pills{
    display: inline-flex!important;
}
.cont-form{
    margin-top: 2%!important;
}
.tz-profile{
    margin-top: -30%!important;
    padding: 2%!important;
}
.tz-profile-page{
    background: url('../images/techz.jpg')!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.form-group{
    width: 84%!important;
}
@media screen and (max-width:600px)
{
    .tz-ass{
        font-size:64px!important;
    }
}
.nav-link{
    color: white!important;
}
.navbar-brand{
    color:white!important;
}