.contain {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

@media screen and (max-width:320px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        left: 70%;
        margin-left: -10px;
    }
}