.navbar.navbar-primary {
    background-color: #084b84!important;
    color: #ffffff;
    font-weight: bold;
}

.menu-header-dw:hover {
    background: #084b84!important;
}

.modal-backdrop {
    position: relative!important;
    color: black;
}

.container-fluid {
    padding-right: 0px!important;
    padding-left: 0px!important;
}