.card-hack{
    background: url('../images/famous.jpg')!important;
    background-size: cover;
}
.card-atelier{
    background: url('../images/photo/partage1.jpg')!important;
    background-size: cover; 
}
.card-conf{
    background: url('../images/photo/partage3.jpg')!important;
    background-size:cover
}
.tz-text-center{
    text-align: center!important;
}